<!DOCTYPE html>
<html>
	<head>
		<title>添加车次</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<!-- Bootstrap -->
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<form method='post' action="">
			{% csrf_token %}
			<div class="container">
				{{ form }}
				<div class="panel-body">
					<table class = "table table-hover">
						<thead>
							<tr>
								<th> 车站名 </th>
								<th> 到站时间 </th>
								<th> 里程数 </th>
							</tr>
						</thead>
						<tbody>	
							{{ formset.management_form }}
							{% for form in formset %}
							<tr>
								<td> {{ form.station_name }} </td>
								<td> {{ form.arrive_time }} </td>
								<td> {{ form.distance_count }}</td>
								{% if formset.can_delete %}
								<li> {{ form.DELETE }}</li>
								{% endif %}

							</tr>
							{% endfor %}
						</tbody>
					</table>
			</div>
			<!-- Submit Botton -->
			<div class="well well-lg">
				<button type="submit" class="btn btn-lg btn-block">添加列车</button>
			</div>
		</form>
		<script src="/static/js/jquery-2.0.3.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
	</body>
</html>
