{% extends "base.html" %}

{% block content %}
<html lang="zh-CN">
<head>
    <title>车票查询</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/static/css/select2.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <style>
    .table{
        margin-bottom: 0px;
    }
    .table th{
        text-align: center;
        background-color: #39f;
        font-weight:bold;
        color: #fff;
    }
    #table_title{
        margin-top: 25px;
        text-align: left;
        font-weight:bold;
        font-size:17px;
    }
    #table_content td{
        text-align: center;
        vertical-align:middle;
    }
    
    #search_info{     
        border: 1px solid #09f;
        border-radius: 25px;
        text-align:center;
        margin:0 auto;
        height: 100px;
        width: 80%;
        background-color:#eee;
    }
    #search_inside{
        text-align:center;
        margin:0 auto;
        height: 100px;
        margin-top: 28px;
    }

    #search_result{
        text-align:center;
        width: 80%;
        margin: 10px auto;  
    }
    </style>
</head>

<script type="text/javascript">
    $(function(){
    $("#id_startStation").select2({
        templateSelection : function(selection) {
            return $.trim(selection.text);
        }
    });
    $("#id_endStation").select2({
        templateSelection : function(selection) {
            return $.trim(selection.text);
        }
    });
    validateTalentInfoForm();
    })
</script>


    <div class="container" id="search_info" >
        <form method="post"> {% csrf_token %}
        <div  class="" id="search_inside">
            <span class="label label-info glyphicon glyphicon-map-marker" style="font-size:16px ">&nbsp出发地&nbsp</span><span>{{form.startStation}}</span>&nbsp&nbsp&nbsp&nbsp
            <span class="label label-info glyphicon glyphicon-map-marker" style="font-size:16px ">&nbsp目的地&nbsp</span><span>{{form.endStation}}</span>&nbsp&nbsp&nbsp&nbsp
            <span class="label label-info glyphicon glyphicon-calendar" style="font-size:16px ">&nbsp出发时间&nbsp</span><span>{{form.date}} {{form.date.errors}}</span>&nbsp&nbsp&nbsp&nbsp         
            <button type="submit" class="btn btn-warning btn-lg glyphicon glyphicon-search" style="font-size:18px">&nbsp&nbsp查询&nbsp&nbsp</button>
        </div>
        </form>
    </div>
    {% if resultSet %}
    <div class="" id="search_result">
        <div id="table_title">
            {{date.year}}年{{date.month}}月{{date.day}}日&nbsp&nbsp&nbsp{{ startStation.station_name }} ——> {{ endStation.station_name}}
        </div>
        <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>车次</th>
                <th>出发站</th>
                <th>到达站</th>
                <th>出发时间</th>
                <th>商务座</th>
                <th>一等座</th>
                <th>二等座</th>
                <th>软卧</th>
                <th>硬卧</th>
                <th>硬座</th>
                <th>备注</th>
            </tr>
        </thead>
        <tbody>            
        {% for train_id, type_seat in resultSet.iteritems %}
            <form method="post" action="/ticketQuery/order/">{% csrf_token %}
                <tr id="table_content">
                    <input type="hidden" value="{{startStation.station_name}}" name="start"/>
                    <input type="hidden" value="{{endStation.station_name}}" name="end"/>
                    <input type="hidden" value="{{date}}" name="date"/>
                    <td> {{ train_id }}</td>
                    <td> {{ startStation.station_name }}</td>
                    <td> {{ endStation.station_name }}</td>
                    <td> {{ type_seat.arrive_time |date:"H:i"}}</td>
                    <input type="hidden" value="{{train_id}}" name="train_id"/>
                    <td> {{ type_seat.shangwu|length }}</td>
                    <td> {{ type_seat.yideng|length }}</td>
                    <td> {{ type_seat.erdeng|length}}</td>
                    <td> {{ type_seat.ruanwo|length}}</td>
                    <td> {{ type_seat.yingwo|length}}</td>
                    <td> {{ type_seat.yingzuo|length}}</td>
                    {% for type ,seatSet in type_seat.iteritems %}
                    <!--<td> {{ seatSet|length }}</td> -->
                    {% ifnotequal type  "arrive_time" %}
                            {% for seat in seatSet %}
                                <input name="{{type}}_{{forloop.counter}}" value=" {{seat.seat_key}}" type="hidden"/>
                                <input type="hidden" value= {{forloop.counter}} name="{{type}}_counter"/>
                            {% endfor %}
                            <input type="hidden" value="{{ type_seat.arrive_time }}" name="arrive_time"/>
                            <input type="hidden" value={{type}} name="seat_type_{{forloop.counter}}"/>
                            <input type="hidden" value={{forloop.counter}} name="seat_type_num"/>
                    {% endifnotequal %}
                    {% endfor %}
                    {% if type_seat.shangwu|length or type_seat.yideng|length or type_seat.erdeng|length or type_seat.ruanwo|length or type_seat.yingwo|length or type_seat.yingzuo|length %}
                        {% if user.is_authenticated %}
                        <td><button type="submit" name="order" class="btn btn-primary btn-lg " style="font-size:16px"> 预订 <span class="glyphicon glyphicon-pushpin"></span></button></td>
                        {% endif %}
                    {% else %}
                        <td><button type="submit" name="order" class="btn btn-lg " style="font-size:16px" disabled="disabled"> 预订 <span class="glyphicon glyphicon-pushpin"></span></button></td>
                    {% endif %}
                    </tr>
            </form>
        {% endfor %}
        </tbody>
        </table>
    </div>
    {% endif %}

<script src="/static/js/jquery-2.0.3.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
var nowTemp = new Date();
    var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
    var end = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate()+30, 0, 0, 0, 0);
    $('#id_date').datetimepicker({
        format:'mm/dd/yyyy',
        language:  'zh-CN',
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        startDate:now,
        endDate:end,
    });

</script>
{% endblock %}  